body {
  background-color: #001;
}
nav ul {
  display: block;
  position: relative;
  top: 15px;
  left: 0;
  font-size: 1em;
  background-color: #3db2e1;
}
nav li {
  display: inline-block;
  margin: 0.5em 1.5em;
}
nav a {
  text-decoration: none;
  color: white;
font-size: 1.5em;
}
